altair
appdirs==1.4.4
attrs 
beautifulsoup4 
blinker 
Bottleneck
Brotli 
bs4==0.0.2
cachetools
certifi 
charset-normalizer 
click 
colorama
contourpy 
cssselect==1.2.0
cycler 
et-xmlfile
fake-useragent==1.5.1
fonttools
gitdb 
GitPython
greenlet==3.0.3
idna 
importlib_metadata==8.5.0
Jinja2 
joblib 
jsonschema 
jsonschema-specifications 
kiwisolver 
lxml==5.3.0
lxml_html_clean==0.2.2
markdown-it-py 
MarkupSafe 
matplotlib 
mdurl 
mkl-fft 
mkl-random 
mkl-service==2.4.0
numexpr 
numpy 
openpyxl 
packaging 
pandas
parse==1.20.2
pillow 
playwright==1.47.0
plotly 
ply 
protobuf==4.25.3
pyarrow 
pydeck 
pyee==12.0.0
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
pyquery==2.0.1
PySocks 
python-dateutil 
pytz 
PyYAML 
referencing 
requests 
requests-html==0.10.0
rich 
rpds-py 
scikit-learn 
scipy 
seaborn 
setuptools==72.1.0
sip 
six 
smmap 
soupsieve 
streamlit 
tenacity 
threadpoolctl 
toml 
toolz
tornado 
tqdm==4.66.5
typing_extensions 
tzdata 
unicodedata2 
urllib3==1.26.20
w3lib==2.2.1
watchdog 
websockets==10.4
wheel==0.43.0
win-inet-pton 
zipp==3.20.2
